/* CSS */
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-25 {
  width: 25% !important;
}

.w-30 {
  width: 30% !important;
}

.w-35 {
  width: 35% !important;
}

.w-40 {
  width: 40% !important;
}

.w-45 {
  width: 45% !important;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.w-100 {
  min-width: 100% !important;
}

/* CALENDAR */

.calendar {
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.pointer {
  cursor: pointer;
}

.calendar .prev-year,
.calendar .next-year,
.calendar .current-year {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.calendar .prev-year:hover,
.calendar .next-year:hover {
  color: grey;
}

.calendar .month td {
  text-transform: uppercase;
}

.calendar .month td.active {
  color: green;
  font-weight: bold;
}

.calendar .month td:hover {
  background-color: #eeeeee;
}

.calendar .week td {
  text-align: right;
  font-weight: bold;
  text-transform: uppercase;
  width: 14.2857%;
  background-color: #eeeeee;
}

.calendar .week td.weekend {
  color: red;
}

.calendar .days tr td {
  width: 14.2857%;
  text-align: right;
  height: 5rem;
}

.calendar .days tr td.another-month {
  color: #cccccc;
}

.calendar .days tr td.active-day {
  color: red;
  font-weight: bold;
}

.calendar .days tr td.selected-day {
  background-color: #eeeeff;
}
/*
.calendar input.form-control::-webkit-calendar-picker-indicator {
  display: none;
}

.calendar input.form-control::-webkit-inner-spin-button,
.calendar input.form-control::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calendar input.form-control::-webkit-input-placeholder {
  visibility: hidden !important;
} */

/*
.calendar .days,
.calendar .week,
.calendar .month {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.calendar .days li {
  display: block;
  flex: 0 0 14.2857%;
  height: 7rem;
  text-align: right;
  padding: 0.2rem;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
}

.calendar .month li {
  display: block;
  flex: 0 0 8.3333%;
  text-align: center;
  cursor: pointer;
  background-color: green;
}

.calendar .week li {
  display: block;
  flex: 0 0 14.2857%;
  text-align: center;
  cursor: pointer;
  background-color: red;
} */

Paginacija
.page-link {
 
  position: relative;
 
  display: block;
 
  padding: 0.5rem 0.75rem;
 
  margin-left: -1px;
 
  line-height: 1.25;
 
  color: #5bc0de;
 
  background-color: #D8EBEB;
 
  border: 1px solid #346767;
 
}
 
.page-item.active .page-link {
 
  z-index: 1;
 
  color: #fff;
 
  background-color: #5bc0de;
 
  border-color: #f7f7f7;
 
}
 
.page-link:focus, .page-link:hover {
 
  color: #fff;
 
  text-decoration: none;
 
  background-color: #5bc0de;
 
  border-color: #f7f7f7;
 
}
