.calendar {
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.pointer {
  cursor: pointer;
}

.calendar .prev-year,
.calendar .next-year,
.calendar .current-year {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.calendar .prev-year:hover,
.calendar .next-year:hover {
  color: grey;
}

.calendar .month td {
  text-transform: uppercase;
}

.calendar .month td.active {
  color: green;
  font-weight: bold;
}

.calendar .month td:hover {
  background-color: #eeeeee;
}

.calendar .week td {
  text-align: right;
  font-weight: bold;
  text-transform: uppercase;
  width: 14.2857%;
  background-color: #eeeeee;
}

.calendar .week td.weekend {
  color: red;
}

.calendar .days tr td {
  width: 14.2857%;
  text-align: right;
  height: 5rem;
}

.calendar .days tr td.another-month {
  color: #cccccc;
}

.calendar .days tr td.active-day {
  color: red;
  font-weight: bold;
}

.calendar .days tr td.selected-day {
  background-color: #eeeeff;
}
