body {
    margin: 0 auto;
    float: none;
    width: 60%;
    font-size: 1.2rem;
}

.prn-header {
    position: fixed;
    top: 0;
    display: none;
}

.prn-footer {
    position: fixed;
    bottom: 0;
    display: none;
}

.prn-page-break {
    page-break-before: always;
}

.prn-hide {
    display: block;
}

@media print {
    body {
        width: 100% !important;
        font: 14pt !important;
        line-height: 1.3;
        background: #fff !important;
        color: #000 !important;
    }
    .prn-hide {
        display: none;
    }
    .prn-header {
        position: fixed;
        top: 0;
        display: block;
    }
    .prn-footer {
        position: fixed;
        bottom: 0;
        display: block;
    }
    .prn-strana {
        padding-top: 15rem;
        padding-bottom: 12rem;
    }
    .prn-strana p {
        text-align: justify;
    }
    @page {
        /* U print dialogu Margins: default */
        margin: 2cm;
    }
}
