{% extends "templates/app.twig" %} {% block stil %} {% endblock stil %} {% block
naslov %}

<div id="calendar" class="calendar"></div>

{% endblock naslov %} {% block sadrzaj %} {% endblock sadrzaj %} {% block
traka%} {% endblock traka %} {% block skripta %}
<script src="{{ base_url() }}/js/calendar.js"></script>
<script>
  const cal1 = new CSCalendar({
    id: "calendar"
  });
</script>
{% endblock skripta %}
