{% extends "templates/app.twig" %} {% block stil %}
<link rel="stylesheet" href="{{ base_url() }}/css/calendar.css" />
{% endblock stil %} {% block naslov %}

<div class="text-center my-5">
	<img src="{{ base_url() }}/img/eec.svg" alt="logo">
</div>

<h1 class="display-1 text-center">EXCLUSIVE EVENT</h1>
<div class="row">
	<div class="border-top border-dark col-lg-4 col-10 offset-lg-4 offset-1"></div>
</div>
<h1 class="display-2 text-center">CENTER</h1>


{% endblock naslov %} {% block sadrzaj %} {% endblock sadrzaj %} {% block
traka%} {% endblock traka %} {% block skripta %} {% endblock skripta %}
