{% extends "templates/app.twig" %} {% block stil %} {% endblock stil %} {% block
naslov %}
<h1 class="text-center"><i class="fas fa-calendar-check"></i> Rezervacije</h1>
<hr />
<div id="display"></div>
<div id="calendar" class="calendar">
  <div class="day-list">
    <ul class="days"></ul>
  </div>
</div>

{% endblock naslov %} {% block sadrzaj %} {% endblock sadrzaj %} {% block
traka%} {% endblock traka %} {% block skripta %}
<script src="{{ base_url() }}/js/calendar.js"></script>
<script>
  const cal1 = new CSCalendar({
    id: "calendar"
  });
</script>
{% endblock skripta %}
