{% extends "templates/app.twig" %} 
{% block naslov %}
<div class="d-none d-sm-block">
<div class="text-center my-5">
	<img src="{{ base_url() }}/img/eec.svg" alt="logo">
</div>
<div class="col">
<h1 class="display-1 text-center">EXCLUSIVE EVENT</h1>
</div>
<div class="row">
	<div class="border-top border-dark col-lg-4 col-10 offset-lg-4 offset-1"></div>
</div>
<div class="col">
<h1 class="display-2 text-center">CENTER</h1>
</div>
<div class="col">
<h4 class="display-4 text-center text-dark">Sistem za zakazivanje i pomoć u organizovanju događaja</h4>
</div>
</div>
{# Mobilni telefoni #}
<div class="d-sm-none">
<div class="text-center my-5">
	<img src="{{ base_url() }}/img/eec.svg" alt="logo" height="42" width="42">
</div>
<div class="col">
<h1 class="display-4 text-center">EXCLUSIVE EVENT</h1>
</div>
<div class="row">
	<div class="border-top border-dark col-lg-4 col-10 offset-lg-4 offset-1"></div>
</div>
<div class="col">
<h1 class="display-4 text-center">CENTER</h1>
</div>
<div class="col">
<h4 class="text-center text-dark">Sistem za zakazivanje i pomoć u organizovanju događaja</h4>
</div>
</div>
{% endblock naslov %}
